:root {
}
html {
  /* Reset para rems 62.5% = 10px */
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
/*Globales*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h4 {
  font-size: 2.6rem;
}
img {
  max-width: 100%;
}
/*Botones*/
/*Utilidades*/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*Header*/
.site-header {
  background-color: #333;
  padding: 1rem 0 3rem 0;
}
.site-header.inicio {
  background-image: url(../assets/img/developer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  color: #fff;
  padding-bottom: 2rem;
  max-width: 50rem;
  line-height: 1.5;
}
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  line-height: 2;
}
.navegacion a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.navegacion a:hover {
  /* color: var(--colorHeaderNavHover); */
}
.navegacion a:last-of-type {
  margin: 0;
}
.contenedor-card {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
  /* border: 1px solid black; */
  /* height: 40rem; */
  /* width: 80%; */
}
.texto-card {
  width: 50%;
}
.texto-card a {
  text-decoration: none;
  text-align: center;
  color: #000;
}
.badge {
  border-radius: 1.5rem;
  width: 100%;
  margin-right: 0.8rem;
  padding: 0.8rem;
}
.badge.html {
  background-color: lightcoral;
}
.badge.css {
  background-color: lightblue;
}
.card-imagen {
  margin: 0;
  width: 50%;
}
.card-imagen img {
  /* margin: 0; */
  /* background-image: url(../assets/img/proyecto1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; */
}
