:root {
  --textoBoton: #fff;
  --backgroundBoton: #048ba8;
  --backgroundHeader: #344966;
  --textH1: #2f2d2e;
  --colorAHeader: #fff;
  --colorACard: #2f2d2e;
  --badgeHtml: #f06543;
  --badgeCss: #53a2be;
  --badgeJs: #f7df1e;
  --textBadge: #fff;
  --backgroundFooter: ;
}
html {
  /* Reset para rems 62.5% = 10px */
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
/*Globales*/
.contenedor {
  max-width: 100rem;
  margin: 0 auto;
}
@media (max-width: 1024px){
  .contenedor{
    max-width: 90rem;
  }
}
@media (max-width: 768px){
    .contenedor{
      max-width: 70rem;
    }
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h4 {
  font-size: 2.6rem;
}
img {
  max-width: 100%;
}
/*Botones*/
.boton {
  color: var(--textoBoton);
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border: none;
}
.boton:hover {
  cursor: pointer;
}
.boton-verde {
  /* background-color: #c9f2c7; */
  background-color: var(--backgroundBoton);
  text-align: right;
}
.botones {
  display: flex;
  justify-content: flex-end;
}
/*Utilidades*/
.seccion {
  margin-top: 2.5em;
  margin-bottom: 2.5rem;
}
.d-block {
  display: block !important;
}
.fw-300 {
  font-weight: 300;
}
.fw-900{
  font-weight: 900;
}
.centrar-texto {
  text-align: center;
}
.contenido-centrado {
  max-width: 800px;
}
/*Header*/
.site-header {
  background-color: var(--backgroundHeader);
  padding: 1rem 0 3rem 0;
}
.site-header.inicio {
  background-image: url(../assets/img/developer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: 60rem;
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  color: var(--textH1);
  padding-bottom: 2rem;
  line-height: 1.5;
  margin-left: 4rem;
}
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 0 1rem;
  line-height: 2;
  /* border: 1px solid black; */
}
.barra img {
  height: 10rem;
}
.navegacion a {
  color: var(--colorAHeader);
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.navegacion a:hover {
  /* color: var(--colorHeaderNavHover); */
}
.navegacion a:last-of-type {
  margin: 0;
}
.contenedor-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
}
.texto-card {
  width: 50%;
}
.texto-card a {
  text-decoration: none;
  text-align: center;
  color: var(--colorACard);
}
.card-description{
  line-height: 1.5;
  padding: 0 1rem;
}
.badge-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge {
  border-radius: 1.8rem;
  margin-right: 0.8rem;
  padding: 1.2rem;
  color: var(--textBadge);
}
.badge i {
  text-align: center;
  font-size: 2rem;
  /* color: #000; */
}
.badge.html {
  background-color: var(--badgeHtml);
}
.badge.css {
  background-color: var(--badgeCss);
}
.badge.js {
  background-color: var(--badgeJs);
}
.card-imagen {
  margin: 0;
  width: 50%;
}
.contenedor-diplomas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.diploma-caption a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
}
.footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.iconos a i {
  color: #fff;
  font-size: 2.8rem;
  margin-right: 2rem;
}
/*Contacto*/
legend {
  font-size: 2.4rem;
  color: #333;
}
label {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}
input:not([type="submit"]),
textarea,
select {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
}
textarea {
  height: 20rem;
}
/*Proyectos*/
.container {
  margin: auto;
  background-color: white;
  width: 800px;
  padding: 30px;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.slider {
  position: relative;
  width: 800px;
  height: 400px;
}
ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
}
ul.slider li img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}
ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.menu {
  text-align: center;
  margin: 20px;
}
.menu li {
  display: inline-block;
  text-align: center;
}
.menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  background-color: #0267c1;
  padding: 2rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 100%;
}
